Repository velikodniy/cv: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, astro-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno Format
        entry: deno fmt
        language: system
        files: \.(js|ts|jsx|tsx|json|css|md)$
      - id: deno-lint
        name: Deno Lint
        entry: deno lint
        language: system
        files: \.(js|ts|jsx|tsx)$
      - id: astro-check
        name: Astro Check
        entry: deno task check
        language: system
        pass_filenames: false
        files: \.(astro|js|ts|jsx|tsx|json)$

fix: remove unnecessary type attribute from PDF download link
  src/layouts/Layout.astro
Due: astro-check

fix: use separate elements for structured dates in Experience
  src/components/Experience.astro
Due: astro-check

fix: move actions toolbar inside .resume for correct positioning
  src/layouts/Layout.astro
Due: astro-check

fix: add dl reset CSS and theme-color meta tags
  src/layouts/Layout.astro
  src/styles/global.css
Due: deno-fmt, astro-check

chore: remove no-op modulate call and unused @std/cli import
  deno.json
  deno.lock
  scripts/generate-favicons.ts
Due: deno-fmt, deno-lint, astro-check
